# base yaml can have config-<env>.yml overrides

distributed: false
hazelcast:
  cluster:
    name: local-cluster
  port: 5701

database:
  url: jdbc:h2:mem:testdb
  username: sa
  password: ""

logging:
  level: INFO

promises:
  defaultImplementation: DATAFLOW